<?xml version="1.0" encoding="UTF-8"?>
<kcfg xmlns="http://www.kde.org/standards/kcfg/1.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.kde.org/standards/kcfg/1.0
                          http://www.kde.org/standards/kcfg/1.0/kcfg.xsd">
    <group name="General">
        <entry name="imagePath" type="String">
            <label>Path to the image or GIF file</label>
            <default></default>
        </entry>
        <entry name="cornerRadius" type="Int">
            <label>Corner radius in pixels</label>
            <default>20</default>
        </entry>
    </group>
</kcfg>
